h1 { 
	color: rgb(2, 132, 130);
	text-align: center;
}

h2 { 
	color: #ffd700;
	text-align: center;
}

body {
	text-align: center;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: #ffff00;
	border-radius: 10px;
}

.board {
	height: 80%;
	width: 50%;
	display: inline-block;
}

.name {
	color: #ff0000;
}

